--
-- PostgreSQL database dump
--

\restrict yCHQc1eEl4PvcHColW7Ra6P2qgzi2KJ8pj8ObqtTriyf9sVzWf2lTaAytfLEZLF

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_state (
    namespace character varying(100) NOT NULL,
    payload bytea,
    json_payload json,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.app_state OWNER TO postgres;

--
-- Data for Name: app_state; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: app_state app_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_state
    ADD CONSTRAINT app_state_pkey PRIMARY KEY (namespace);


--
-- PostgreSQL database dump complete
--

\unrestrict yCHQc1eEl4PvcHColW7Ra6P2qgzi2KJ8pj8ObqtTriyf9sVzWf2lTaAytfLEZLF

